analysis:
  ethogram:
    cmap: Pastel
  generate_3d_scatter: false
  generate_grid_movies: false
  generate_labeled_videos: false
  grid_movies:
    cols: 4
    plot_options:
      keypoints_only: false
    post: 15
    pre: 15
    rows: 4
  labeled_videos:
    draw_skeleton: true
    num_videos: 3
  merge_motifs: true
  merge_threshold: 0.001
  perform_analysis: true
  plot_dendrogram: true
  plot_ethogram: true
  plot_stats: true
  plot_trajectories: true
  plot_transition_graph: true
  scatter_3d:
    palette: Pastel
  stats:
    groupby:
    - group
    min_frequency: 0.01
  trajectories:
    save_gifs: true
    save_mp4s: false
  transition_graph:
    edge_width_scale: 2
    hide_self_transitions: true
    layout: spring
    node_size_scale: 100
data_dir: /home/isonaei/ABVFM_benchmark/DLC/open_field_8_points-MX-2026-01-02/videos/supermodel
model_params:
  added_noise_level: 1.0
  ar_warmup_iters: 50
  error_estimator:
    intercept: 0.8766958268641931
    slope: -0.22796376020672313
  kappa_scan:
    ar_iters: 50
    full_iters: 75
    max: 1000000000000.0
    min: 1000.0
    num_steps: 10
  latent_dim: 0.9
  num_iters: 200
  seed: 42
num_fitting_restarts: 1
pca:
  whiten: true
preprocess:
  fps: 30.0
project_config:
  bodyparts: AUTO
  video_extension: mp4
project_dir: /home/isonaei/ABVFM_benchmark/KPMS/results/exp_20260117_2342
save_every_n_iters: 25
tuning:
  ar_kappa: null
  full_kappa: null
  full_kappa_ratio: none
  kappa_experiments:
  - - 100000000000000.0
    - 1000000000000.0
  - - 1000000000000.0
    - 10000000000.0
  target_motif_duration: 200
  tolerance: 0.1
video_dir: /home/isonaei/ABVFM_benchmark/DLC/open_field_8_points-MX-2026-01-02/videos
